html, body {
 box-sizing: border-box;
 height: 100vh;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body{
  font-family:Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  flex: 1;
}

/* Main Section */

.main-section {
  display: flex;
  flex-direction: column;
  background-color: #1F2937;
  padding-bottom: 20px;
}

.headers {
  display: flex;
  margin: 0px 180px;
  padding: 12px 0px;
}

.hero-img {
  display: flex;
  margin: 100px 180px;
  margin-top: 80px;
  justify-content: center;
}

.logo {
  font-size: 20px;
  color: #f9faf8;
  margin-right: auto;
  font-weight: bold;
}

.links {
  display: flex;
  gap: 20px;
  font-weight: lighter;
}

.button {
  display: flex;
}

.hero-img img {
  width: 750px;
  height: 200px;
}

.hero-text button {
  border: none;
  padding: 8px 30px;
  font-size: 15px;
  font-weight: bold;
}

.hero-text {
  display: flex;
  flex-direction: column;
  font-weight: bolder;
  margin-right: 60px;
  gap: 8px;
}

.hero-main-text {
  display: flex;
  font-size: 42px;
  color: #f9faf8;
  flex-wrap: wrap;
}

.hero-secondary-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 15px;
  color: #d1d1d4;
  font-weight: lighter;
}



/* Information Section */

.information-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 90px;
}

.header-text {
  font-size: 30px;
  font-weight: bolder;
  color: #1F2937;
  padding-top: 28px;
  padding-bottom: 40px;
}

.images {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.images img {
  border: 3px solid rgb(53, 137, 241);
  border-radius: 12px;
  width: 150px;
}

.potrait-image {
  display: flex;
  flex-direction: column;
  flex-basis: 150px;
}
 .info-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  color: #535455;
 text-align: center;
  padding-top: 8px;
 }



/* Quote Section */

.quote-section {
  padding-top: 350px;
  display: flex;
  flex-direction: column;
  background-image: url("images/blackbeard-quote.png");
  background-repeat: no-repeat;
  background-size:contain;
  background-position:center;

}

.quotee {
  display: flex;
  font-size: 16px;
  color: #040404;
  font-style: italic;
  margin-left: auto;
  margin-top: auto;
  padding-right: 100px;
  padding-bottom: 20px;
}




/* Sign-up section */

.signup {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 90px;
  background-color: #e5e7eb;
}

.msg-button {
  display: flex;
  background-color: #3882f6;
  flex-wrap: wrap;
  padding: 45px 110px;
  border-radius: 8px;
  gap: 120px;
  flex-shrink: 0;
}

.main-msg {
  font-size: 20px;
  color: #f9faf8;
  font-weight: bold;
}

.sub-msg {
  font-size: 15px;
  color: #dedfdc;
  font-weight: lighter;
}

.msg-button button {
  border: 2px solid #f9faf8;;
  font-weight: bolder;
  font-size: medium;
  padding: 0px 30px;
}


/* footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  color: #f9faf8;
  padding: 18px;
}



/* Adjustments */

a {
  text-decoration: none;
  font-size: 15px;
  color: #e5e7eb;
}

button {
  background-color: #3882f6;
  color: #f9faf8;
  border-radius: 8px;
}
